@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.editorHeader {
  color: #c9fbff;
  text-align: center;
  font-family: "Rowdies", cursive;
}

.codeEditor {
  background: #00a6a6;
  border: 15px solid transparent;
  padding: 10px;
  border-image: url("../../images/bordertest.png") 30% stretch;
  margin-bottom: 0px;
}

.columnDesc {
  background: #f49f0a;

  border: 50px solid transparent;
  padding: 10px;
  border-image: url("../../images/bordertest1.png") 30% stretch;
}

.successMessage {
  border: 50px solid transparent;
  padding: 10px;
  border-image: url("../../images/bordertest2.png") 30% stretch;
  background: #00a6a6;
  color: #bbdef0;
  margin: 0;
}

.failedMessage {
  border: 50px solid transparent;
  padding: 10px;
  border-image: url("../../images/bordertest2.png") 30% stretch;
  background: #b3001b;
  color: #bbdef0;
  margin: 0;
}

.runAllButton {
  justify-content: flex-end;
  color: #f49f0a;
  background: #373f51;
  height: 45px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.runOneButton {
  color: #f49f0a;
  background: #373f51;
  height: 45px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
