@import "./components/CodePlayground/CodePlayground.css";
@import "./pages/SignUp/SignUp.css";
@import "./pages/HomePage/HomePage.css";
.App {
  background-color: #f08700;
  height: 100%;
  overflow: auto;
}

.color-nav {
  background-color: #373f51;
}
