.titleCard {
  margin: 10px;
  border: 2px solid #11a6a6;
}

.homepageContainer {
  justify-content: center;
}

.homepageTitle {
  background: #373f51;
}

.classroomForm {
  margin-top: 1.1rem;
  width: 78%;
  margin-bottom: 1.1rem;
}
