.titleCard {
  margin: 10px;
  border: 2px solid #11a6a6;
}

.container {
  justify-content: center;
  height: auto;
  background: #373f51;
  color: #00a6a6;
  border: 5px solid #00a6a6;
  min-height: 80vh;
}

.homepageTitle {
  background: #373f51;
}

.classRoomForm {
  width: 78%;
  margin-bottom: 1.1rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 650px;
}

.title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
